@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,700;1,400&display=swap');
@import url('./base.css');

body, html{
    min-height: 100vh;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#headline{
    text-align: center;
    color: var(--black);
}

.form-group{
    position: relative;
    padding: .75em;
    margin-top: .7em;
}

.form-group input{
    font-family: inherit;
    border: 0;
    border-radius: 0;
    border-bottom: 2px dashed grey;
    outline: 0;
    font-size: 1.3rem;
    color: var(--black);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.7s;
}

.form-group input:invalid{
    color: var(--red);
}

.form-group input:placeholder-shown ~ label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form-group input:focus{
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(90deg, var(--green) 0%, var(--light-green) 100%);;
    border-image-slice: 1;
    transition: border-image 700ms ease;
}

.form-group input:focus ~ label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
    font-weight:700;
}

.form-group label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
}

small{
    color: var(--red);
    font-weight: 800!important;
}